<footer>
<p>
  Site (somewhat) automatically created by <a href="https://github.com/kevinkhill">Kevin Hill</a>. Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
